<!--proyecto-->
<div class="content" id="proyecto"> 
  <h4 class="text-center"id="proyecto_1">Proyectos</h4>  
  <div class="row">  
    <div class="col-sm" id="proyecto_2">
       <h5 class="text-center" id="proyecto_2_1">Portafolio Argentina-Programa</h5> 
       <p id="proyecto_2_2">El proyecto consistía en armar una aplicación web full stack que mostrará mis datos personales, los estudios cursados, la experiencia laboral, el conocimiento de las tecnologías y demás cosas que se deseen agregar. En pocas palabras un portafolio web. </p> 
       <p id="proyecto_2_3">El portafolio es de arquitectura distribuida y contiene un diseño de interfaz de usuario que muestra la información, una base de datos que almacena los datos antes mencionados y contiene la APIs necesarias para proveer a través de internet la información. </p>
       <p id="proyecto_2_4">A través de los distintos modulos planteados en el curso, se iba avanzando en el desarrollo del portafolio. Primero fue la parte de frontend, enmaquetado utilizado los lenguajes de HTML, CSS y JavaScrip. Además, se conto con la ayuda de frameworks como bootstrap o angular para hacer la aplicación dinámica. En la parte del backend</p>
    </div>
    <div class="col-sm" id="proyecto_3">
       <img [src]="'assets/imagenes/proyecto.PNG'" id="proyecto_3_1">
       <img [src]="'assets/imagenes/proyecto1.PNG'" id="proyecto_3_2">
       <img [src]="'assets/imagenes/proyecto2.PNG'" id="proyecto_3_3">
    </div>
  </div> 
</div>
<!--Fin de Proyecto-->