<!--Header-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="header">
    <nav class="container-fluid">
      <ul class="navbar mr-auto" id="logo">
          <li class="nav-item">
           <a class="navbar-brand"><img src="assets/imagenes/logoAP.png" id="logo_1"></a>
          </li>   
          <li class="nav-item">
           <a class="navbar-brand" href="ArgProg" id="logo_2">Argentina-#YoProgramo</a>
          </li>      
       </ul>
      <button class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" id="logo_3"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-end" id="logo_4">
          <li class="nav-item">
            <a class="nav-link" href="https://www.instagram.com/fran99r99/" target="_blank" id="link1"><img src="assets/imagenes/instagram.svg">Instagram</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/profile.php?id=100007069448845" target="_blank" id="link2"><img src="assets/imagenes/facebook.svg">Facebook</a>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outlined-light" (click)="login()" id="link3">Ingreso</button>
          </li>
        </ul>
      </div> 
    </nav>
  </nav>
  <!--Fin del header-->
