<!--Habilidades-->
<div class="conteiner" id="habilidad">
    <h4 class="text-center" id="titulo_habilidad">Habilidades</h4>
    <div class="row text-center">
    <div class="col">
      <circle-progress
      [percent]="85"
      [radius]="100"
      [imageSrc]="'assets/imagenes/habilidad.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'rgb(212, 109, 13)'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [animationDuration]="600"
></circle-progress>
    </div>
    <div class="col">
      <circle-progress
      [percent]="65"
      [radius]="100"
      [imageSrc]="'assets/imagenes/habilidad1.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#804000'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [animationDuration]="600"
></circle-progress>
    </div>
    <div class="col">
      <circle-progress
      [percent]="45"
      [radius]="100"
      [imageSrc]="'assets/imagenes/habilidad3.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'rgb(212, 109, 13)'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [animationDuration]="600"
></circle-progress>
    </div>
    <div class="row text-center">
    <div class="col">
      <circle-progress
      [percent]="50"
      [radius]="100"
      [imageSrc]="'assets/imagenes/habilidad4.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#804000'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [animationDuration]="600"
></circle-progress>
    </div>
    <div class="col">
      <circle-progress
      [percent]="75"
      [radius]="100"
      [imageSrc]="'assets/imagenes/habilidad5.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'rgb(212, 109, 13)'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [animationDuration]="600"
></circle-progress>
    </div>
    <div class="col">
      <circle-progress
      [percent]="40"
      [radius]="100"
      [imageSrc]="'assets/imagenes/habilidad6.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#804000'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [animationDuration]="600"
></circle-progress>
    </div>
    </div>
    <div class="row text-center">
    <div class="col">
      <circle-progress
      [percent]="70"
      [radius]="100"
      [imageSrc]="'assets/imagenes/habilidad7.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'rgb(212, 109, 13)'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [animationDuration]="600"
></circle-progress>
  </div>
</div>
  <!--Fin de Habilidades-->