.gradient-custom {
    
    background: -webkit-linear-gradient(to right,rgb(212, 109, 13),#ede8df) ;
    
    background: linear-gradient(to right, rgba(212, 109, 13, 1), #ede8df);
    }

.atras{
    padding-bottom: 100px;
}

.login{
    background-color:#804000 ;
}
