body{
    background: radial-gradient(circle,#a1633cfd, #ede8df);
}

#logo{
    padding-left: 0;
}
#logo_1{
    width: 100px;
}

#logo_2{
    font-size: small;
    font-weight: 800;
    color:#804000
}

#logo_3{
    font-size: small;
    color: #000000
}

#logo_4{
    font-size: small;
    font-weight: 800;
}

.navbar-toggler {
    background-color: #a1633cfd;
    border-color: #a1633cfd;
  }

ul{
    list-style: none;
}

#link1,#link2{
    color:#804000
}

#link3{
    background-color: #804000;
    border-color: #000000;
}

#header{
    background-image: url(assets/imagenes/fondo7.png);
}

#perfil{
    background-color:#804000;
    background-image: repeating-linear-gradient(0deg, transparent, transparent 25px,#ede8df 25px, #ede8df 40px);
    
}
#perfil_1{
 background-color: #a1633cfd;
 position: relative;
 margin:auto;
 z-index: 10;
 box-shadow: 0 0 10px rgb(0, 0, 0, 0,5);
 border: 5px solid rgb(212, 109, 13)
}

#perfil_2{
    position: relative;
    margin-top: 0px;
}

#nombre, #nombre_1{
    font-weight: 500;
}

#nombre_2{
    font-weight: 700;
}
#perfil_4{
  position:relative;
  margin-top: -100px;
  border-radius: 200px;
  width: 250px;
}

#infor{
    font-weight: 300;
    font-size: x-large;
    color:#ede8df;
}
#botom{
    background-color: #804000;
}
#navbarSupportedContent1{
    background-image: url(assets/imagenes/fondo7.png);
    border: 5px solid rgb(212, 109, 13);
    font-weight: 800;
    font-size: x-large;
    color: #000000;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#edicion{
    text-align: right;
}

#flechaderecha{
    width: 50px;
}

#flechaizquierda{
    width: 50px;
}

#separador {
    width: 100%;
    height: 50px;
    background: linear-gradient(#804000,#ede8df)
}

#experiencia{
    background-image: url(assets/imagenes/fondo7.png);
    border-top: #ede8df;
}
#titulo{
    font-weight: 800;
    color: #804000;
}
#experiencia_1{
    background-color: #804000;
    border: 5px solid rgb(212, 109, 13);
}

#experiencia_2{
    padding-top: 20px;
}

#titulo_educacion{
    font-weight: 800;
    color: #ede8df;
}
#educacion{
    background-color: #804000;
}


a:link{
    color:#ede8df
}

a:visited{
    color:#ede8df
}

.certificado1{
    background-color:rgb(212, 109, 13);
    width:800px;
    text-align: center;
    padding: auto;
    position: center;
    margin-left: 300px;
    margin-top: 75px;
    z-index: 100;
}

.certificado{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0px;
    right:0;
    bottom:0px;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
    z-index: 100;
}
#certificado:target{
    opacity:1;
    pointer-events:auto;
}
.certificado2{
      width: 500px;
      height: 500px;
      padding-top:40px;
}

#educacion1{
    padding-top: 30px;
    padding-left: 30px;
}

#educacion{
    margin-left: 30%;
    border: 5px solid rgb(212, 109, 13);
}

#divEducacion{
    background-image: url(assets/imagenes/fondo8.png);
}

#separador1{
    width: 100%;
    height: 50px;
    margin-top: -18px;
    background: linear-gradient(#804000,#ede8df);
}

#habilidad{
    background:linear-gradient( #ede8df, #201204) ;
    
}
#titulo_habilidad{
    color:#804000;
    font-weight: 800;
}

#proyecto{
    background: transparent;
}

#proyecto_2{
    background-color:#804000;
    margin:40px;
    text-align: center;
    border-radius: 10px;
}

#proyecto_2_1{
    font-size: 900;
    color: #ede8df;
    text-decoration: underline;
}

#proyecto_2_2,#proyecto_2_3,#proyecto_2_4{
    color:#ede8df
}

#proyecto_1{
    font-weight: 800;
    color: #ede8df;
    background:linear-gradient(#201204,#804000);
}

#proyecto_3{
    margin-top: 40px;
    margin-left: 30px;
}

#proyecto_3_1,#proyecto_3_2,#proyecto_3_3{
    width:300px;
    height:300px;
    margin-bottom: 30px;
    margin-right: 1px;
}

#proyecto_3_3{
    margin-left:130px;
}

#footer{
    background-color: rgb(136, 74, 16);
    border-top: solid 10px rgb(212, 109, 13);
    font-size: 14px;
    color:#ede8df
}

@media only screen and (max-width:800px) {
    #link1, #link2{
        color:#ede8df
    }
    #perfil_4{
        width: 150px;
        margin-top: -50px;
    }
    #experiencia_2{
        padding-left: 70px;
    }
    #colegio{
        padding-left: 70px;
        padding-top: 20px;
    }
    #educacion_3_2,#educacion_2_2{
        padding-left: 80px;
    }
    #titulo_educacion{
        margin-top: 0;
    }
    #proyecto_2{
        width: 300px;
    }
    #proyecto_3_3{
        width: 300px;
        margin:0;
    }
    .certificado1{
        background-color:rgb(212, 109, 13);
        width:300px;
        text-align: center;
        padding: auto;
        position: relative;
        margin-left: 40px;
        margin-top: 40px;
        z-index: 100;
    }
    .certificado2{
        width: 300px;
        height: 300px;
        padding-top:40px;
    }
    #educacion{
        margin:0;
    }
}